<!-- each chat -->
<div class="say">
  <div class="row">
    <div class="author col-md-8">
      <%= name %>
    </div>
    <div class="date col-md-4">
      <%= date %>
    </div>
  </div>
  <div class="markdown">
    <%- markdown %>
  </div>
</div>
