  </div>
  <script type="text/javascript"
          src="/bower_components/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/bower_components/taboverride/build/output/taboverride.min.js"></script>
  <script type="text/javascript" src="/bower_components/jquery.taboverride/build/jquery.taboverride.min.js"></script>

  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/say.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>

  </body>
</html>
