<% include header %>
  <div class="panel panel-success">
    <div class="panel-heading">
      
      <a href="/page/0">
        View older posts
      </a>
    </div>
  </div>
  <div id="chats">
    
  </div>
  <form class="form-inline chat-input-form">
    <div class="input-group chat-name-input-group">
      <span class="input-group-addon chat-name-input-preaddon">@</span>
      <input type="text" class="form-control chat-name-input" placeholder="Username"
             <% if (logged_in) { %>
             value="<%= nickname %>"
             <% } %>
             name="namae" id="namae">
    </div>
    <textarea cols="100", rows="5"
              name="message" id="message"
              class="form-control chat-input-markdown"
              placeholder="Input text with markdown syntax!"></textarea>
  </form>
  <div class="chat-input-button-area">
    <div class="row">
      <div class="send-button-area">
        <div class="col-md-2 col-md-offset-10">
          <button id="btn" class="btn btn-primary btn-sm pull-right">Send</button>
        </div>
      </div>
    </div>
    <div class="chat-input-button-area-footnote">
      <div class="row">
        <div class="col-md-4 col-md-offset-8">
          <p class="chat-input-button-area-footnote-text">
            You can send it by 'Shift + Enter'
            (<a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">
              markdown help
            </a>)
          </p>
        </div>
      </div>
    </div>
  </div>
  <% if (logged_in) { %>
  <script>
    var LOGIN_USER_ID = "<%- user_id %>";
  </script>
  <% } %>
  <!-- <button id="delete" class="btn btn-danger btn-sm">履歴削除</button> -->
</div>

<% include footer %>
