<% include header %>
  <div class="panel panel-success">
    <div class="panel-heading">
      
      <a href="/page/0">
        View older posts
      </a>
    </div>
  </div>
  <div id="chats">
    
  </div>
  <div id="loading-area" class="hidden">
    <div class="floatingCirclesG">
      <div class="f_circleG frotateG_01">
      </div>
      <div class="f_circleG frotateG_02">
      </div>
      <div class="f_circleG frotateG_03">
      </div>
      <div class="f_circleG frotateG_04">
      </div>
      <div class="f_circleG frotateG_05">
      </div>
      <div class="f_circleG frotateG_06">
      </div>
      <div class="f_circleG frotateG_07">
      </div>
      <div class="f_circleG frotateG_08">
      </div>
    </div>
  </div>
  <div id="active-user-window" class="hidden">
    <p>
      Login users
    </p>
   <div id="active-user-image-container">
    </div>
  </div>
  <form class="form-inline chat-input-form">
    <% if (!logged_in) { %>
    <fieldset disabled>
    <% } %>
    <div class="input-group chat-name-input-group">
      <span class="input-group-addon chat-name-input-preaddon">@</span>
      <input type="text" class="form-control chat-name-input" placeholder="Username"
             <% if (logged_in) { %>
             value="<%= nickname %>"
             <% } %>
             name="namae" id="namae" disabled>
    </div>
    <textarea cols="100", rows="5"
              name="message" id="message"
              class="form-control chat-input-markdown"
              <% if (logged_in) { %>
              placeholder="Input text with markdown syntax!"
              <% } else { %>
              placeholder="Please register or log in first"
              <% } %>
              ></textarea>
    <% if (!logged_in) { %>
    </fieldset>
    <% } %>
  </form>
  
  <div class="chat-input-button-area">
    <div class="row">
      <div class="send-button-area">
        <div class="col-md-2 col-md-offset-10">
          <button <% if (logged_in) { %> id="btn" <% } %>
                  class="btn btn-primary btn-sm pull-right">Send</button>
        </div>
      </div>
    </div>
    <div class="chat-input-button-area-footnote">
      <div class="row">
        <div class="col-md-4 col-md-offset-8">
          <p class="chat-input-button-area-footnote-text">
            You can send it by 'Shift + Enter'
            (<a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">
              markdown help
            </a>)
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <button id="delete" class="btn btn-danger btn-sm">履歴削除</button> -->
</div>

<% locals.JS_FILES = ["/javascripts/index.js"]; %>
<% include footer %>
