<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/github.css' />
	<script type="text/javascript"
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/taboverride/build/output/taboverride.min.js"></script>
	<script type="text/javascript" src="/jquery.taboverride/build/jquery.taboverride.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/chat.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
	<form>
	  <textarea cols="100", rows="5"
				name="message" id="message"
				placeholder="Input text with markdown syntax!"></textarea>
	</form>
	<button id="btn">送信</button>
	<dl id="list"></dl>
  </body>
</html>
