<% include header %>
<div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="page-header">
            <h1><a href="/"><%= title %></a></h1>
          </div>
          <% if (error && error.length > 0) { %>
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close"
                    data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error!</strong> <%= error %>
          </div>
          <% } %>
          <div class="well">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <form method="post">
                  <input type="text" class="form-control login-form input-lg" name="nickname" id="nickname" placeholder="Enter nickname" />
                  <input type="email" class="form-control login-form input-lg" name="email" id="email" placeholder="Enter email (optional)" />
                  <input type="password" class="form-control login-form input-lg" name="password" id="password" placeholder="Enter password" />
                  <input type="password" class="form-control login-form input-lg" name="repassword" id="repassword" placeholder="Re-Enter password" />
                  <input type="submit" class="form-control btn btn-primary login-form input-lg" name="submit" id="submit" value="Register" />
                  <p class="pull-right">
                    <a href="/login">Login</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
<% include footer %>
