<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/github.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel="stylesheet/less" type="text/css" href="/less/style.less" />
    <script src="/bower_components/less/dist/less-1.4.2.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="page-header">
            <h1><a href="/"><%= title %></a></h1>
          </div>
          <div class="well">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <form method="post">
                  <input type="text" class="form-control login-form input-lg" name="nickname" id="nickname" placeholder="Enter nickname" />
                  <input type="email" class="form-control login-form input-lg" name="email" id="email" placeholder="Enter email (optional)" />
                  <input type="password" class="form-control login-form input-lg" name="password" id="password" placeholder="Enter password" />
                  <input type="password" class="form-control login-form input-lg" name="repassword" id="repassword" placeholder="Re-Enter password" />
                  <input type="submit" class="form-control btn btn-primary login-form input-lg" name="submit" id="submit" value="Register" />
                  <p class="pull-right">
                    <a href="/login">Login</a>
                  </p>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
