<% include header %>
<div class="row say-backward-section">
  <div class="col-md-12">
    <!-- <i class="glyphicon glyphicon-backward"></i> -->
    <a href="/">&lt; back to top</a>
  </div>
</div>
<%- html %>
<% if (raw_markdown) { %>
<div class="raw-html-section">
  <div class="row">
    <div class="col-md-12">
      <h3>raw markdown</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <pre><%- raw_markdown %></pre>
    </div>
  </div>
</div>
<% } %>
<% include footer %>
