<% include header %>
      <div class="chats-section">
        <div id="chats">
          <% for (var i = 0; i < says_html.length; i++) { %>
             <%- says_html[i] %>
          <% } %>
        </div>
      </div>
<% include footer %>
